<%- include('header3') -%>
<section class="ftco-section" id="blog-section">
    <div class="container">
      
        <div class="row d-flex">
            <div class="col-lg-12 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <a href="/blog" class="block-40" style="background-image: url('<%= postDisImage %>');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <h3 class="heading"><a href="/blog"><%=postDisTitle %></a></h3>
                        <div class="d-flex align-items-center mb-3 meta">
                            <p class="mb-0">

                                <a href="/login" class="mr-2">Admin</a>

                            </p>
                        </div>
                        <p><%=postDisBody1%></p>
                        <p><%=postDisBody2%></p>
                        <p><%=postDisBody3%></p>
                        <p><%=postDisBody4%></p>
                        <p><%=postDisBody5%></p>
                        <p><%=postDisBody6%></p>
                        <p><%=postDisBody7%></p>
                    </div>
                </div>
            </div>
         
        </div>
    </div>
</section>
<%- include('footer') %> 